@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

:root{
    --dark: #0B0D17;
    --purple: #D0D6F9;
    --light: #FFFFFF;
}

html{
    height: 100%;
    overflow: hidden;
}

body{
    background-image: url("../assets/home/background-home-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

h1{
    font-size: 150px;
}

h2{
    font-size: 100px;
}

h3{
    font-size: 56px
}

h4{
    font-size: 32px;
}

h5, .sub-h1{
    font-size: 28px;
    color: var(--purple);
    font-family: "barlow condensed";
}

main{
    flex:1;
}

.sub-h2{
    font-size: 2.35px;
    letter-spacing: 2.35px;
}

p{
    font-size: 18px;
    font-family: "barlow condensed";
    color: var(--light);
}

h1, h2, h3, h4, .sub-h1{
    color: var(--light);
    font-family: bellefair;
}

.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

strong{
    margin-right: 10px;
}

nav{
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(86px);
    height: inherit;
    align-items: center;
    width: 60%;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .backdrop-blur {
      background-color: rgba(255, 255, 255, .5);
      -webkit-backdrop-filter: blur(2em);
      backdrop-filter: blur(2em);
    }
  }

header{
    height: 96px;

}

.list-item{
    list-style: none;
    padding: 0 10px;
    display: block;
    box-sizing: border-box;
    margin-right: 20px;
}

.list-item:hover{
    transition: 0.4s;
    border-bottom: solid 2px var(--light);
}

.logo{
    margin-left: 100px;
}

ul{
    height: inherit;
    margin: 0;
    width: 70%;
}

.nav-link{
    color: inherit;
    text-decoration: none;
    display: block;
    margin-top: 40px;
    letter-spacing: 2.7px;
    font-size: 16px;
    font-family: "barlow condensed";
    color: var(--light);
    
}

.ham{
    display: none;
    padding: 5px;
    cursor: pointer;
    margin-right: 20px;
    background-color: inherit;
    
}

.bar1, .bar2, .bar3{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #101010;
    transition: 0.4s;
    background-color: white;
}

@media only screen and (max-width:996px) {
    body{
        background-image: url("../assets/home/background-home-tablet.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    nav{
        width: fit-content;
    }



}

@media only screen and (max-width:764px){
    .nav-sub{
        position: fixed;
        top: 0vh;
        right: 0;
        flex-direction: column;
        background-color: rgba(255,255,255, 0.04);
        backdrop-filter: blur(86px);
        transition: transform 0.3s ease-in;
        transform: translate(100%);
        justify-content: start;
        padding-top: 10vh;
        width: 300px;
        height: 100%;
    }

    .list-item:hover{
        border-bottom: none;
    }

    nav{
        width: inherit;
        height: inherit;
        align-items: none;
        background-color: inherit;
        backdrop-filter: none;
    }

    
    .nav-change{
        transform: translate(0%);
    }

    .ham{
        display: block;

    }

    .change .bar1{
        transform: rotate(45deg) translate(8px, 3px); 
    }

    .change .bar2{
        opacity: 0;
    }

    .change .bar3{
        transform: rotate(-45deg) translate(8px, -3px);
    }
    
}


@media only screen and (max-width:600px){
    body{
        background-image: url("../assets/home/background-home-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
} 