@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');

:root{
    --dark: #0B0D17;
    --purple: #D0D6F9;
    --light: #FFFFFF;
}

html{
    height: 100%;
}

body{
    flex-direction: column;
    height: 100%;
    margin: 0;
}

main{
    flex:1;
}

a{
    text-decoration: none;
}

h1{
    font-size: 150px;
    margin: 20px 0;
}

h2{
    font-size: 100px;
    margin: 10px 0 ;
}

h3{
    font-size: 56px
}

h4{
    font-size: 32px;
}

h5, .sub-h1{
    font-size: 28px;
    color: var(--purple);
    font-family: "barlow condensed";
    letter-spacing: 4.75px;
    margin: 0;
}

h1, h2, h3, h4, .sub-h1{
    color: var(--light);
    font-family: bellefair;
}

p{
    font-size: 18px;
    font-family: "barlow condensed";
    color: var(--light);
    margin:0;
    color: var(--purple);
    line-height: 2;
}

.sub-h1{
    font-size: 28px;
    font-family: "barlow condensed";
}

.sub-h2{
    font-size: 14px;
    letter-spacing: 2.35px;
}

.sub-h1, .sub-h2, .h-something{
    color: var(--light)
}

.h-something{
    font-family: "barlow condensed";
    font-size: 28px;
    letter-spacing: 4px;
    margin: 50px 0 0 50px;
}

.inner-h{
    color:rgb(255, 255, 255, 0.25);
    margin-right: 20px;
    font-weight: 700;
}

.justify-center{
    justify-content: center;
}

.justify-around{
    justify-content: space-around;
}


.column{
    flex-direction: column;
}

.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.justify-start{
    justify-content: flex-start;
}

.justify-end{
    justify-content: flex-end;
}

.align-center{
    align-items: center;
}

.align-end{
    align-self: flex-end;
}

.align-self-center{
    align-self: center;
}

.container{
    width: 1100px;
    align-self: center;
    height: 100%;
}

/* Header + Nav */

header{
    height: 96px;
    margin-top: 30px;
}

nav{
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(86px);
    height: inherit;
    align-items: center;
    width: 60%;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    nav {
        background-color: rgba(255, 255, 255, 0.04);
        -webkit-backdrop-filter: blur(86px);
        backdrop-filter: blur(86px);
    }
}

.header-line{
    width: 50%;
    height: 1px;
    background-color: var(--light);
    position: fixed;
    display: block;
    left: -47%;
    opacity: 0.2;
}

strong{
    margin-right: 10px;
}

.list-item{
    list-style: none;
    display: block;
    box-sizing: border-box;
    margin-right: 30px;
}

.list-item:hover{
    transition: 0.15s;
    border-bottom: solid 2px rgb(255, 255, 255, 0.5);
}

.active{
    border-bottom: solid 2px var(--light);
}

.logo{
    margin-left: 50px;
}

ul{
    height: inherit;
    margin: 0;
    width: 70%;
    margin-left: 30px;
}

.nav-link{
    color: inherit;
    display: block;
    margin-top: 40px;
    letter-spacing: 2.7px;
    font-size: 16px;
    font-weight: 500;
    font-family: "barlow condensed";
    color: var(--light);
    
}

.ham{
    display: none;
    padding: 5px;
    cursor: pointer;
    margin-right: 20px;
    background-color: inherit;
    
}

.bar1, .bar2, .bar3{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: 0.4s;
    background-color: var(--purple);
}

.no-scroll{
    overflow: hidden;
}

/* HOME PAGE */

.home{
    background-image: url("../assets/home/background-home-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.home-text{
    max-width: 450px;
}

.home-section{
    justify-content: space-around;
}

.inner{
    font-family: bellefair;
    font-size: 32px;
    color: #000;
    height: 274px;
    width: 274px;
    background-color: var(--light);
    border-radius: 100%;
}

.outer{
    height: 450px;
    width: 450px;
    border-radius: 100%;
    
}

.outer:hover{
    background-color: rgb(255, 255, 255, 0.1);
    transition: 0.3s;   
}

/* Destination Page */

.planet-link{
    color: var(--light);
    cursor: pointer;
    padding-bottom: 10px;
    margin: 0 40px 0 0;
}

.planet-link:hover{
    transition: 0.15s;
    border-bottom: solid 2px rgb(255, 255, 255, 0.5);
}

.current-planet{
    border-bottom: solid 2px var(--light);
}

.test{
    flex: 1;
}

.destination-container{
    width: 400px;
    height: 445px;
}

.destination-info{
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid rgb(255,255,255,0.2);
}

.image img{
    width: auto;
}

.destination{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/destination/background-destination-desktop.jpg");
}

/* Crew Page */

.crew{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/crew/background-crew-desktop.jpg");
    background-size: cover;
}

.crew-section{
    height: 100%;
}

.crew p{
    max-width: 500px;
}

.crew h4{
    color:rgb(255, 255, 255, 0.5);
    margin: 0;
}

.crew h3{
    margin: 20px 0;
}

.crew .image img{
    max-height: 540px;
}

.crew .image {
    justify-content: flex-end;
}

.crew-slider{
    margin: 100px 0;
}

.crew-link{
    height: 15px;
    width: 15px;
    background-color: rgb(255, 255, 255, 0.17);
    margin-right: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.crew-link:hover{
    opacity: 50%;
}

.current-crew{
    background-color: var(--light);
}
/* Technology Page */

.technology{
    background-image: url("../assets/technology/background-technology-desktop.jpg");
    background-size: cover;
}

.tech-slider{
    color: var(--light);
    font-family: bellefair;
    font-size: 32px;
    margin-right: 50px;
    max-height: 300px;
    align-self: center;
}

.tech-slider :nth-child(2){
    margin: 35px 0;
}

.tech-link{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 255, 255, 0.25);
    border-radius: 50%;
    height: 80px;
    width: 80px;
    cursor: pointer;
}

.tech-link:hover{
    border-color: rgb(255, 255, 255, 1);
}

.active-tech{
    background-color: var(--light);
    color: var(--dark);
}

.technology .image{
    position: absolute;
    right: 0;
    height: 70%;
    margin-bottom: 20px;
}

.technology img{
    height: 100%;
}

.tech-info{
    max-width: 500px;
}

.tech-h3{
    margin: 15px 0;
}

.part{
    align-items: center;
}


@media only screen and (max-width: 1280px){

    .container{
        width: 100%;
        max-width: none;
        align-items: center;
    }

    .technology .container{
        margin-right: 0;
    }

    .home-section{
        justify-content: space-around;
        height: 100%;
    }

    .home-text{
        margin-left: 50px;
    }

    .outer{
        margin-right: 50px;
    }

    .home{
        background-position: right;
    }

    .technology .image{
        position: static;
        right: auto;
        height: auto;
        margin-bottom: 0;
        flex: 2;
        margin-left: 20px;
    }

    .part{
        flex: 3;
        margin-left: 50px;
    }
    
    .technology img{
        height: auto;
        max-width: 100%;
    }

    .crew-container, .destination-image{
        margin-left: 50px;
    }

    .destination-container, .crew .image{
        margin-right: 50px;
    }

@media only screen and (max-width:996px) {

    .home-text{
        margin: 50px 0 0 0;
    }

    .outer{
        margin-right: 0px;
    }

    .crew-container, .destination-image{
        margin-left: 0;
    }

    .destination-container, .crew .image{
        margin-right: 0;
    }

    .width-100{
        width: 100%;
    }

    .outer:hover{
        background-color: transparent;
        transition: 0.3s;   
    }

    nav{
        width: fit-content;
    }

    ul{
        margin-left: inherit;
    }

    .header-line{
        display: none;
    }

    header{
        margin-top: 0;
    }

    .container{
        flex-direction: column;
        height: 100%;
        text-align: center;
        align-items: center;
        max-width: none;
        width: 100%;
        margin-top: 50px;
        justify-content: space-between;
    }

    .home{
        background-image: url("../assets/home/background-home-tablet.jpg");
    }


    .destination{
        background-image: url("../assets/destination/background-destination-tablet.jpg");
        background-size: 996px auto;
    }

    .crew{
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.25)), url("../assets/crew/background-crew-tablet.jpg");

    }

    .crew p{
        max-width: 550px;
    }

    .crew-slider{
        justify-content: space-between;
        align-self: center;
        width: 120px;
        margin: 0;
    }

    .crew-link{
        margin: 0;
    }

    .crew-details{
        align-items: center;
        display: flex;
        flex-direction: column;
        
    }

    .crew-container{
        width: 100%;
        flex: 2;
        
    }

    .crew .image{
        align-self: center;
        justify-content: flex-end;
        flex: 3;
        max-width: 100%;
    }

    .crew .image img{
        align-self: flex-end;
    }

    .crew-link{
        height: 10px;
        width: 10px;
    }

    .crew-slider{
        margin: 40px 0;
    }

    .h-something{
        align-self: flex-start;
        font-size: 20px;
        margin-left: 20px;
    }

    .destination-container{
        width: auto;
        max-width: 600px;
        height: auto;
        margin-bottom: 50px;
    }


    .planet-link{
        margin-right: 0;
    }

    .destination-nav{
        justify-content: space-between;
        width: 300px;
        align-self: center;
    }

    .logo{
        margin-left: 20px;
    }

    h2{
        font-size: 80px;
        margin: 20px 0;
    }

    h3{
        font-size: 40px;
    }

    h4{
        font-size: 24px;
    }

    .destination img{
        max-width: 350px;
    }

    .destination-info{
        justify-content: space-around;
    }

    .destination p{
        padding: 0 40px;
    }

    .part{
        flex-direction: column;
    }

    .tech-slider{
        flex-direction: row;
        height: auto;
    }

    .tech-slider :nth-child(2){
        margin: 0 20px;
    }

    .technology .container{
        flex-direction: column-reverse;
    }

    .technology .image{
        margin: 0;
        width: 100%;
    }

    .technology .image img{
        width: 100%;
        flex:auto;
    }

    .part{
        flex: auto;
        margin: 0;
        justify-content: flex-start;
    }

    .tech-slider{
        margin: 50px 0 50px 0;
    }

    .tech-link{
        height: 60px;
        width: 60px;
    }

    .technology{
        background-image: url(../assets/technology/background-technology-tablet.jpg);
    }

}

@media only screen and (max-width:764px){

    h1{
        font-size: 80px;
        margin: 10px;
    }

    h2{
        font-size: 56px;
    }

    h5{
        font-size: 16px;
    }
    
    p{
        font-size: 15px;
    }

    .nav-sub{
        position: fixed;
        top: 0vh;
        right: 0;
        flex-direction: column;
        background-color: rgba(255,255,255, 0.04);
        backdrop-filter: blur(86px);
        transition: transform 0.3s ease-in;
        transform: translate(100%);
        justify-content: start;
        padding-top: 10vh;
        width: 300px;
        height: 100%;
    }

    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        .nav-sub {
            background-color: rgba(255, 255, 255, 0.04);
        -webkit-backdrop-filter: blur(2em);
        backdrop-filter: blur(2em);
        }
    }

    .list-item:hover{
        border-bottom: none;
    }

    nav{
        width: inherit;
        height: inherit;
        align-items: none;
        background-color: inherit;
        backdrop-filter: none;
    }

    .nav-change{
        transform: translate(0%);
    }

    .ham{
        display: block;

    }

    .change .bar1{
        transform: rotate(45deg) translate(8px, 3px); 
    }

    .change .bar2{
        opacity: 0;
    }

    .change .bar3{
        transform: rotate(-45deg) translate(8px, -3px);
    }

    .active{
        border-bottom: none;
    }

    .logo{
        width: 40px;
        height: 40px;
    }

    .home .container{
        margin: 0;
    }
    
    .home-text{
        margin: 0;
        width: 100%;
        flex: 1;
        justify-content: center;
    }

    .inner{
        width: 150px;
        height: 150px;
        font-size: 20px;
    }

    .outer{
        width: 246px;
        height: 246px;
    }

    .nav-sub{
        width: 60%;
    }

    .h-something{
        align-self: center;
        padding: 0;
        margin: 0;
    }

    
} 

@media only screen and (max-width: 600px){

    h3{
        font-size: 24px;
    }

    h4{
        font-size: 16px;
    }

    .home{
        background-image: url("../assets/home/background-home-mobile.jpg");
    }

    .h-something{
        margin-bottom: 30px;
        font-size: 16px;
    }

    .destination p, .technology p, .home p{
        padding: 0 20px;
    }

    .destination main{
        align-items: center;
    }

    .planet-link{
        font-size: 14px;
    }

    .destination .container{
        margin: 0 0 20px 0;
    }

    .destination-info{
        flex-direction: column;
        justify-content: space-between;
    }

    .destination-nav{
        width: 250px;
    }

    .destination .image{
        margin-bottom: 30px;
        max-width: 270px;
        align-self: center;
    }

    .destination .image img{
        max-width: 100%;
    }

    .destination-section{
        margin: 10px;
    }

    .destination-container{
        margin: 0;
    }

    .destination .description{
        height: 120px;
    }

    .avg-distance{
        margin-bottom: 30px;
    }

    .crew{
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/crew/background-crew-mobile.jpg");
        background-size: auto 1000px;
        background-repeat: no-repeat;
    }

    .crew .image img{
        max-height: 320px;
    }

    .crew-container{
        flex:1;
        flex-direction: column-reverse;
        border-top: 1px solid rgb(255,255,255,0.25);
    }

    .crew .image{
        flex:1;
        justify-content: center;
    }

    .crew-section{
        flex-direction: column-reverse;
        margin: 0 100px;
    }

    .crew-slider{
        margin: 40px 0;
    }

    .crew p{
        padding: 0 20px 20px 20px;
    }

    .technology p{
        margin-bottom: 20px;
    }

    .tech-link{
        height: 40px;
        width: 40px;
    }

    .technology{
        background-image: url(../assets/technology/background-technology-mobile.jpg);
        background-size: auto 800px;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-height: 450px){
    .home, .destination, .crew{
        background-position: center;
        background-size: 1150px auto;
        height: auto;
    }

    .home section, .destination section, .crew section{
        margin-top: 40px;
    }

    .container{
        justify-content: unset;
    }

   .destination-container{
       margin: 40px 0;
   }

    .crew .image img, .destination img{
        max-height: 300px;
    }

    .crew-slider{
        margin: 40px 0;
    }
}